.container {
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    @include mobile {
        flex-basis: 480px;
        // width: 100%;
    };
    @include tablet {
        flex-basis: 768px;
        // width: 100%;
    };
    @include desktop {
        flex-basis: 1200px;
        // width: 100%;
    };
}