body {
    color: var(--text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-style: 400;
}

button{
    cursor: pointer;
}

address{
    font-style: normal;
}

img{
    display: block;
}