.clients__title{
    @include basic(700, 36px, 1.17, center, 0.03em);
    color: #212121;
}

.clients__list{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients__item{
    width: 170px;
    height: 92px;
}

.clients__icon{
    width: 100%;
    transition: fill 250ms var(--type-of-show);
    .clients__link:hover &, .clients__link:focus &{
        fill: #2196F3;
    }
}

.clients__link{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    fill: #AFB1B8;
    transition: border-color 250ms var(--type-of-show);
    &:hover, &:focus{
        border-color: #2196F3;
    }
}